{% load compress %}
{% load hosts %}
{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Colour Memory</title>
		<meta name="application-name" content="Colour Memory"/>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
		<link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}"/>
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'favicons/apple-touch-icon-57x57.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'favicons/apple-touch-icon-114x114.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'favicons/apple-touch-icon-72x72.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'apple-touch-icon-144x144.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'favicons/apple-touch-icon-60x60.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'favicons/apple-touch-icon-120x120.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'favicons/apple-touch-icon-76x76.png' %}" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'favicons/apple-touch-icon-152x152.png' %}" />
		<link rel="icon" type="image/png" href="{% static 'favicons/favicon-196x196.png' %}" sizes="196x196" />
		<link rel="icon" type="image/png" href="{% static 'favicons/favicon-96x96.png' %}" sizes="96x96" />
		<link rel="icon" type="image/png" href="{% static 'favicons/favicon-32x32.png' %}" sizes="32x32" />
		<link rel="icon" type="image/png" href="{% static 'favicons/favicon-16x16.png' %}" sizes="16x16" />
		<link rel="icon" type="image/png" href="{% static 'favicons/favicon-128.png' %}" sizes="128x128" />
		{% compress css %}
		<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		{% block styles %}{% endblock styles %}
		{% endcompress %}
	</head>
	<body class="container-fluid" ng-app="gameApp" ng-cloak>
		<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		{% block container %}<p>This should be over-written in all child templates</p>{% endblock container %}
		{% compress js %}
		<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
		<script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
		<script src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
		<script src="{% static 'bower_components/angular-cookies/angular-cookies.min.js' %}"></script>
		<script src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>
		<script src="{% static 'bower_components/angular-loading-bar/build/loading-bar.min.js' %}"></script>
		<script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.min.js' %}"></script>
		<script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
		<script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
		<script src="{% static 'js/app.js' %}"></script>
		<script src="{% static 'js/factories.js' %}"></script>
		<script src="{% static 'js/card.js' %}"></script>
		<script type="text/javascript">
			(function() {
				"use strict";
				// declare default game settings
				var app = angular.module("gameApp");
				app.run(function($rootScope) {
					$rootScope.GAME = {
						NUM_CARDS: 16,
						GRID_ROWS: 4,
						GRID_COLS: 4,
						REQUIRED_NUM_MATCHES: 2,
						STARTING_SCORE: 12,
						MATCH_REWARD: 1,
						MISMATCH_PENALTY: 1,
						PLAY_SOUND: true,
						AUDIO: {
							BGM: new Audio("{% static 'audio/cautious.mp3' %}"),
							Click: new Audio("{% static 'audio/click.mp3' %}"),
							CardFlip: new Audio("/static/audio/card-flip.mp3"),
							Match: new Audio("{% static 'audio/reward.mp3' %}"),
							NoMatch: new Audio("{% static 'audio/penalty.mp3' %}"),
							GameWin: new Audio("{% static 'audio/win.wav' %}"),
							GameLose: new Audio("{% static 'audio/lose.wav' %}"),
						},
						MODAL: {
							GAME_RESTART: "modalGameRestart",
							GAME_EXIT: "modalGameExit",
							GAME_WIN: "modalGameWin",
							GAME_LOSE: "modalGameLose",
						},
						URL: {
							APIPlayer: "{% host_url 'player-list' host 'api' %}",
							APIRanking: "{% host_url 'ranking-list' host 'api' %}",
						},
					};
					window.GAME = $rootScope.GAME;
				});
			})();
		</script>
		{% block javascript %}{% endblock %}
		{% comment %}
		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] ||
				function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
			ga('create', 'UA-73096706-1', 'auto');
			ga('send', 'pageview');
		</script>
		{% endcomment %}
		{% endcompress %}
	</body>
</html>
