{% extends "website/base.html" %}
{% load staticfiles %}

{% block styles %}
{{block.super}}
<style>
	.game-view {
		width: 700px;
		height: 550px;
	}
	.menu-overlay {
		position: absolute;
		top: 10px;
		right: 10px;
	}
</style>
{% endblock %}

{% block container %}
<div ui-view></div>
{% endblock %}

{% block javascript %}
{{block.super}}
<script src="{% static 'js/controllers/splash-controller.js' %}"></script>
<script src="{% static 'js/controllers/home-controller.js' %}"></script>
<script src="{% static 'js/controllers/game-controller.js' %}"></script>
<script src="{% static 'js/controllers/ranking-controller.js' %}"></script>
<script src="{% static 'js/controllers/game-modal-controller.js' %}"></script>
<script type="text/javascript">
(function() {
	"use strict";
	var app = angular.module("gameApp");
	app.config(function($stateProvider, $urlRouterProvider, $locationProvider, $httpProvider) {
		var splashState = {
			name: "splash",
			url: "/",
			templateUrl: "{% static 'html/splash.html' %}",
			controller: "SplashCtrl",
		};
		var homeState = {
			name: "home",
			url: "/home",
			templateUrl: "{% static 'html/home.html' %}",
			controller: "HomeCtrl",
		};
		var gameState = {
			name: "game",
			url: "/game", 
			templateUrl: "{% static 'html/game.html' %}",
			controller: "GameCtrl",
		};
		var rankingState = {
			name: "ranking",
			url: "/ranking", 
			templateUrl: "{% static 'html/ranking.html' %}",
			controller: "RankingCtrl",
		};
		$urlRouterProvider.when("", "/");
		$stateProvider
			.state(splashState)
			.state(homeState)
			.state(gameState)
			.state(rankingState);
	});
})();
</script>
{% endblock javascript %}
