<div class="game-view" ng-init="initGame();" >
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-8">
				<div class="grid">
					<div ng-repeat="row in cards">
						<card ng-repeat="card in row" ng-class="[{flip:!card.hidden, 'fade-out':card.matched}]" ng-model="card" ng-click="flipCard(card);">
							<div class="front card{[{card.value}]}" ></div>
							<div class="back"></div>
						</card>	
					</div>
				</div>
			</div>
			<div class="col-xs-4 text-center">
				<img class="img-thumbnail logo">
				<p><h1>Score: {[{state.score}]}</h1></p>
				<p class="text-justify">Find all matching pairs of cards using the least amount of steps possible!</p>
				<ul class="list-unstyled text-left">
					<li>Every wrong match: <strong>-1 point</strong></li>
					<li>Every correct match: <strong>+1 point</strong></li>
				</ul>
				
				<div class="game-options">
					<button class="btn btn-block btn-warning" ng-click="promptRestart();"><i class="fa fa-fw fa-refresh"></i> Restart</button>
					<button class="btn btn-block btn-default" ng-click="toggleSound();" ng-class="[{'btn-danger':!playSound, 'btn-success':playSound}]">
						<i class="fa fa-fw fa-times" ng-if="!playSound"></i>
						<i class="fa fa-fw fa-music" ng-if="playSound"></i> Sound</button>
					<a class="btn btn-block btn-default" ng-click="promptExit();"><i class="fa fa-fw fa-reply"></i> Back to Main</a>
				</div>
			</div>
		</div>
		
		<script id="modalGameRestart" type="text/ng-template">
			<div class="modal-body text-center">
				<div class="row">
					<div class="col-xs-6 col-xs-offset-3">
						<h1>Restart Game?</h1>
						<p>All game progress will be lost.<br>Do you wish to restart? </p>
						<button class="btn btn-block btn-danger" type="button" ng-click="restartGame()">Restart</button>
						<button class="btn btn-block btn-default" type="button" ng-click="dismissModal()">Cancel</button>
					</div>
				</div>
			</div>
		</script>
		
		<script id="modalGameExit" type="text/ng-template">
			<div class="modal-body text-center">
				<div class="row">
					<div class="col-xs-6 col-xs-offset-3">
						<h1>Exit game?</h1>
						<p>All game progress will be lost.<br>Do you still wish to exit game?</p>
						<button class="btn btn-block btn-danger" type="button" ng-click="returnMain()">Exit</button>
						<button class="btn btn-block btn-default" type="button" ng-click="dismissModal()">Cancel</button>
					</div>
				</div>
			</div>
		</script>
			
		<script id="modalGameWin" type="text/ng-template">
			<div class="modal-body text-center">
				<div class="row">
					<div class="col-xs-8 col-xs-offset-2">
						<h1><i class="fa fa-fw fa-trophy"></i> Cards Cleared!</h1>
						<p>Submit your score and rank yourself against all other daily players!</p>
						<br>
						<form name="playerForm" ng-submit="submitScore();" novalidate>
							<div class="input-group" ng-class="{'has-error':playerForm.name.$touched && playerForm.name.$invalid, 'has-success':playerForm.name.$valid}">
								<span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
								<input class="form-control" type="text" name="name" ng-model="player.name" placeholder="Enter your name" ng-minlength="3" autocomplete="off" required>
							</div>
							<div class="text-danger text-left" ng-show="playerForm.name.$touched && playerForm.name.$invalid"><small>Please provide a name with more than 3 characters</small></div>
							<div class="input-group" ng-class="{'has-error':playerForm.email.$touched && playerForm.email.$invalid, 'has-success':playerForm.email.$touched && playerForm.email.$valid}">
								<span class="input-group-addon"><i class="fa fa-fw fa-envelope-o"></i></span>
								<input class="form-control" type="email" name="email" ng-model="player.email" placeholder="Enter your email address" required>
							</div>
							<div class="text-left text-danger" ng-show="playerForm.email.$touched && playerForm.email.$invalid"><small>Please provide a valid email address</small></div>
							<span class="help-block"><small>We will not share your email address publicly.</small></span>
							<br>
							<button type="submit" class="btn btn-primary btn-block" ng-disabled="playerForm.$invalid">Submit</button>
							<button class="btn btn-block btn-default" type="button" ng-click="dismissModal()">No thanks</button>
						</form>
					</div>
				</div>
			</div>
		</script>
		
		<script id="modalGameLose" type="text/ng-template">
			<div class="modal-body text-center">
				<div class="row">
					<div class="col-xs-6 col-xs-offset-3">
						<h1>You Lost...</h1>
						<p>Retry?</p>
						<button class="btn btn-block btn-info" type="button" ng-click="restartGame()">Bring it on!</button>
						<button class="btn btn-block btn-warning" type="button" ng-click="returnMain()">No thanks</button>
					</div>
				</div>
			</div>
		</script>
	</div>
</div>