<div class="game-view" ng-init="initGame();">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-8">
				<div class="grid">
					<div ng-repeat="row in cards">
						<card ng-repeat="card in row" ng-class="[{flip:!card.hidden}]" ng-model="card" ng-click="flipCard(card);">
							<div class="front card{[{card.value}]}" ></div>
							<div class="back"></div>
						</card>	
					</div>
				</div>
			</div>
			<div class="col-xs-4 text-center">
				<img class="img-thumbnail logo">
				<h1>Player's Score
						<br>{[{state.score}]}
					</h1>
				<p>Find matching pairs before your time limit runs out!</p>
				<div class="menu-options">
					<button class="btn btn-block btn-warning"><i class="fa fa-fw fa-refresh"></i> Restart</button>
					<button class="btn btn-block btn-default" ng-click="toggleSound();" ng-class="[{'btn-danger':!playSound, 'btn-success':playSound}]">
						<i class="fa fa-fw fa-times" ng-if="!playSound"></i>
						<i class="fa fa-fw fa-music" ng-if="playSound"></i> Sound</button>
					<button class="btn btn-block btn-default"><i class="fa fa-fw fa-sign-out"></i> Quit</button>
				</div>
			</div>
		</div>
	</div>


   <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>

<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            stertreterterterte
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</div>