card {
  display: inline-block;
  width: 80px;
  height: 120px;
  padding: 3px 5px;
  margin: 10px;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
card .front,
card .back {
  width: 80px;
  height: 120px;
  border-radius: 8px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
card .front {
  z-index: 2;
  transform: rotateY(180deg);
}
card .front.card0 {
  background: url("//fruitloops.com:8080/static/img/card0.gif") no-repeat center;
  background-size: cover;
}
card .front.card1 {
  background: url("//fruitloops.com:8080/static/img/card1.gif") no-repeat center;
  background-size: cover;
}
card .front.card2 {
  background: url("//fruitloops.com:8080/static/img/card2.gif") no-repeat center;
  background-size: cover;
}
card .front.card3 {
  background: url("//fruitloops.com:8080/static/img/card3.gif") no-repeat center;
  background-size: cover;
}
card .front.card4 {
  background: url("//fruitloops.com:8080/static/img/card4.gif") no-repeat center;
  background-size: cover;
}
card .front.card5 {
  background: url("//fruitloops.com:8080/static/img/card5.gif") no-repeat center;
  background-size: cover;
}
card .front.card6 {
  background: url("//fruitloops.com:8080/static/img/card6.gif") no-repeat center;
  background-size: cover;
}
card .front.card7 {
  background: url("//fruitloops.com:8080/static/img/card7.gif") no-repeat center;
  background-size: cover;
}
card .back {
  background: url("//fruitloops.com:8080/static/img/back.gif") no-repeat center;
  background-size: cover;
  transform: rotateY(0deg);
}
card.flip {
  transform: rotateY(180deg);
}
card.fade-out {
  opacity: 0;
  transition: opacity 1s linear;
}
